<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="LIB_ASIR_CONTRIB">
            <Component Id="cmp9D4AA7254125EF86072790B83DE6D791" Guid="D3ED7D3F-239D-47AE-B9A6-3050CC4F8929">
                <File Id="filF069CB57E304274923B763F994C1C253" KeyPath="yes" Source="$(var.contribDir)\bench-1.rr" />
            </Component>
            <Component Id="cmpF83F88756786A352674F36C5E6F13BFB" Guid="8D0E226B-9C07-4656-A0B3-1F05231604BB">
                <File Id="fil7A0A8EF183310662152DFB04BAC02F07" KeyPath="yes" Source="$(var.contribDir)\beta.rr" />
            </Component>
            <Component Id="cmpCEFFFB30697825565C39C10AAFC8A232" Guid="64079EED-B2BA-4CCB-8A8A-0B9319D439FC">
                <File Id="fil0FB9B020AF5E06AD8365A4DC1C9C3882" KeyPath="yes" Source="$(var.contribDir)\ccurve.rr" />
            </Component>
            <Component Id="cmp316F388C42EAE2AFA384358ACCBEE5E2" Guid="15180A8D-1125-4474-9D22-9A1CCA118B76">
                <File Id="fil5A7D352B07D853ACC55A32058614D818" KeyPath="yes" Source="$(var.contribDir)\cfep-init.rr" />
            </Component>
            <Component Id="cmp205350E22AC8EB747E8F07863A649B8A" Guid="9434534D-6A6F-482A-9BE7-9B786AFCA82C">
                <File Id="filB5300DBC0611C79FED0C591111E6659F" KeyPath="yes" Source="$(var.contribDir)\contrib-setord.rr" />
            </Component>
            <Component Id="cmp3E6BF8523C4FE37A28EDD85CC8070F5C" Guid="432A5980-82C4-45E6-B990-9EBC3026F8D1">
                <File Id="fil36E2CA243D98C56F6DA369FEC6EE4A93" KeyPath="yes" Source="$(var.contribDir)\datatype.rr" />
            </Component>
            <Component Id="cmp124EE0EC1C3ED61CC4A77A722C35D243" Guid="FBCB57FA-B723-4029-A627-4F058613B4AF">
                <File Id="fil59304282659FF3A69ABE7602C48C6D3A" KeyPath="yes" Source="$(var.contribDir)\dsolv.rr" />
            </Component>
            <Component Id="cmp4C603C02FDC497BABCDDBB8C52ED616D" Guid="DC601E89-7A6F-4380-85B5-2A12EF492C0C">
                <File Id="filA1246E1452D085F48EB3BD27CCBEDD24" KeyPath="yes" Source="$(var.contribDir)\edu_fourier_0.rr" />
            </Component>
            <Component Id="cmpF5C98738D6DBD7CA80D7D0F927875E91" Guid="012F3CE4-C6CD-452C-AE6C-4F028E0FFB22">
                <File Id="fil14E6351296CC7417D5EB9406C3B35D84" KeyPath="yes" Source="$(var.contribDir)\fj_simplify.rr" />
            </Component>
            <Component Id="cmp4214FD055E605E6F12C42906B745C152" Guid="574BB97E-A0AF-48C5-B459-487096462F74">
                <File Id="filEFFE9D4897DA1921801868C5BA396CEC" KeyPath="yes" Source="$(var.contribDir)\gen_ord_list.c" />
            </Component>
            <Component Id="cmp8839AC0BBB660206754EADF7D048317B" Guid="D072CA6C-9F2C-4F67-AE49-8E93E4189E84">
                <File Id="fil1F16CCF626F29308B43644C62286840C" KeyPath="yes" Source="$(var.contribDir)\glib3.rr" />
            </Component>
            <Component Id="cmp98FA59BDC9476BB84C9F44DCC912D893" Guid="4BBC99A6-7A79-4EE1-B2B5-25800F5D6868">
                <File Id="fil126F66F99EFFC3C5CFF384C974B176F5" KeyPath="yes" Source="$(var.contribDir)\gnuplot-grep.sh" />
            </Component>
            <Component Id="cmpD94BAFF16E666E49D42DD37BB0DEEBDE" Guid="49341B7F-2930-4217-91B4-265D056179A5">
                <File Id="fil5033D85B4B72E4A07483530940BB190E" KeyPath="yes" Source="$(var.contribDir)\gnuplot.rr" />
            </Component>
            <Component Id="cmp8CDFDD4D149A75F128EC229F16398FFC" Guid="85A69574-244C-40A2-BB4E-E6218E40EA11">
                <File Id="fil69A3775719D2FA4866FF3EE8F86DEF18" KeyPath="yes" Source="$(var.contribDir)\gnuplotf.rr" />
            </Component>
            <Component Id="cmp2EBC516B2C2DCB78D20204511C5C10B9" Guid="8BCD5643-A7BE-4ECA-AC73-6F4C56446DC2">
                <File Id="fil769A417E9FC2EB12F1D361F954883235" KeyPath="yes" Source="$(var.contribDir)\hermit.rr" />
            </Component>
            <Component Id="cmpD094D2D8AFC1CCFB545DACDD89D49705" Guid="67667DAF-0563-4B19-BBA4-88D0E9A01ACE">
                <File Id="filC2B8CD69EC11CC137183AE9F9A36469E" KeyPath="yes" Source="$(var.contribDir)\igraph.rr" />
            </Component>
            <Component Id="cmpB259F4D4488F025ECC3ABAAD34A05494" Guid="F45F3D40-34BC-414D-B00D-0E961F66E7C9">
                <File Id="fil079D7060796399A5B7BD1015A9C5D432" KeyPath="yes" Source="$(var.contribDir)\install-sh" />
            </Component>
            <Component Id="cmpDD2275DDC27DB570BDB169FAB4AD60A7" Guid="B026EA3B-84EF-4095-B1BF-F1020143BFA5">
                <File Id="fil75BB89368299A3CD6B64D015EC4EEC91" KeyPath="yes" Source="$(var.contribDir)\k0.rr" />
            </Component>
            <Component Id="cmp32023A87036713F5E150A11AFF53ADD8" Guid="46AEA67D-0F5F-4849-9C4A-D9729BF526FE">
                <File Id="fil47CF78CADF448BD9B3F99300E96ECCA3" KeyPath="yes" Source="$(var.contribDir)\kk_mat_res.rr" />
            </Component>
            <Component Id="cmp2FAEA5454A0C13E322726EF61B5EE3DC" Guid="724B5373-FD4A-4546-A44C-F2897FD71D0F">
                <File Id="fil603C99CB297466C38031749CFA769EDA" KeyPath="yes" Source="$(var.contribDir)\knapsack-factor.rr" />
            </Component>
            <Component Id="cmp158C869D798AF1DD1E2B0917880334C4" Guid="977AEC23-4D5A-4184-B106-FED402110964">
                <File Id="fil98D04394826911CA6C01789084E4F6E0" KeyPath="yes" Source="$(var.contribDir)\la_solution_guide.rr" />
            </Component>
            <Component Id="cmp1C4C3737B2E00B0CC815327FF18FC405" Guid="D4AB7972-6B01-4911-A63A-91E8010D7C78">
                <File Id="fil1EEF3E03A134AD58F39E2FD5603CEED2" KeyPath="yes" Source="$(var.contribDir)\longname.rr" />
            </Component>
            <Component Id="cmp470149447EDAF19E4A6EC75B04231042" Guid="39D5463C-D4A6-4F52-A9E5-C38AC1530CF5">
                <File Id="filBF31ADD67EF55677A4BDE143D9AED8ED" KeyPath="yes" Source="$(var.contribDir)\mathematica.rr" />
            </Component>
            <Component Id="cmpDF140AF0E4AA2D1D72EEC702D90BE0D2" Guid="40389D55-6CC8-4719-AC32-B054EEE7EF5F">
                <File Id="fil4937C00A94EB12575B67D92E86B84424" KeyPath="yes" Source="$(var.contribDir)\memo-ja.txt" />
            </Component>
            <Component Id="cmpC79C5E79169BD556E0B705B7FBFB1E5F" Guid="14709222-485E-49F5-AB21-989E2E2BF045">
                <File Id="fil895439B98CF42F237251D7728FC3421B" KeyPath="yes" Source="$(var.contribDir)\misc.rr" />
            </Component>
            <Component Id="cmpF8995920067F1A81388DF993BF75D2E8" Guid="806C89BA-3ACE-42E2-B9C2-33C58DF81234">
                <File Id="fil6ED9BFFDAC3ED14F9B345448E6157E74" KeyPath="yes" Source="$(var.contribDir)\mtest.rr" />
            </Component>
            <Component Id="cmp72B8273B53A130EDBF06D17D7670359F" Guid="4DB5E54C-600B-4445-8E05-5DEBE679AF14">
                <File Id="filE55E1B836588AA77FA8FBBDB6E3D1F49" KeyPath="yes" Source="$(var.contribDir)\mt_graph.rr" />
            </Component>
            <Component Id="cmp5CCFFEB48311C4964BD28C11FC9809E6" Guid="6CD2DAF5-3C25-4584-8B2D-1DA1425372B0">
                <File Id="fil8EE33416D3A5A9037AAF7A5426F0B147" KeyPath="yes" Source="$(var.contribDir)\names.rr" />
            </Component>
            <Component Id="cmp65748E6017684E8FDEF66C7C2D70BCCB" Guid="C9A5B6E8-3202-48AC-B205-9FBC6FBA9940">
                <File Id="fil7E239EC1F6DF6DB6937663CD9D96A20F" KeyPath="yes" Source="$(var.contribDir)\nk_restriction.rr" />
            </Component>
            <Component Id="cmpC251678517D46321743D6C19C4047A72" Guid="625B48A3-B81A-4F9F-BD7E-FA02BB87E1A4">
                <File Id="filAA511E86A5C50E6DBB6E4852FF8584C4" KeyPath="yes" Source="$(var.contribDir)\nn_ndbf.rr" />
            </Component>
            <Component Id="cmpF70FBA9207EF39BCE28811F8B18D3C40" Guid="D12DCECA-0B18-4643-9187-E9B99B5D5C02">
                <File Id="fil11FCF3BBDCA0F214123B5A3815856CA4" KeyPath="yes" Source="$(var.contribDir)\noro_de.rr" />
            </Component>
            <Component Id="cmp7DECBFF38704400E06C98A02C3F82A95" Guid="27D4C958-72F5-4DFA-B083-1009F8C70E3E">
                <File Id="filB29097F3C40FC3D46B6FE0BCA8132370" KeyPath="yes" Source="$(var.contribDir)\noro_gw.rr" />
            </Component>
            <Component Id="cmp9F63BF783837E82C54BBA8CD4EAD3083" Guid="7A4482C5-51BC-4E9A-B380-11C91CDDDBA6">
                <File Id="fil46F5B62BAE64B78FA3E17797C19B31C0" KeyPath="yes" Source="$(var.contribDir)\noro_matrix.rr" />
            </Component>
            <Component Id="cmpC7D1881810843269B2D07A7E24BCC87C" Guid="182E9CCA-65B6-4908-A552-304CDAE14488">
                <File Id="filBFBB255E862C7ACB10BEB4C41F02A869" KeyPath="yes" Source="$(var.contribDir)\noro_module_syz.rr" />
            </Component>
            <Component Id="cmp56B2E5F380FC649FD88B3921DFF2775B" Guid="2DB3A267-A9C8-447E-BCB3-7AE1A80EF63D">
                <File Id="fil62F40A4756C45781C6E0FCB86DB07971" KeyPath="yes" Source="$(var.contribDir)\noro_mwl.rr" />
            </Component>
            <Component Id="cmp2641512831A4C58FB75D0670523678AB" Guid="610140D1-683D-4DA6-AD75-F43B1962734E">
                <File Id="filCD788FACE3377485CAD6E096E1F3C426" KeyPath="yes" Source="$(var.contribDir)\noro_pd.rr" />
            </Component>
            <Component Id="cmp0AC9946DECF97A22D509D46E0A1AA427" Guid="DFDB017F-2105-4741-997D-4E0818E09E83">
                <File Id="fil6AF44B20E100D85DEFCA60C8933A2C75" KeyPath="yes" Source="$(var.contribDir)\noro_print.rr" />
            </Component>
            <Component Id="cmp9F47AC7BFA24E97B8B57A95FB25A32C4" Guid="B6E77F02-7D08-4A3B-9128-DE762DD754CB">
                <File Id="filD45866A4761BAB4D864DE27101BE54E3" KeyPath="yes" Source="$(var.contribDir)\noro_print_default.rr" />
            </Component>
            <Component Id="cmp4C40C7C99B5F6C4CF1B51B3A63546308" Guid="ABFD2B52-C963-4104-9AD7-24B21F75E54B">
                <File Id="fil21C983754D57B8799510C408E0739552" KeyPath="yes" Source="$(var.contribDir)\noro_rewrite.rr" />
            </Component>
            <Component Id="cmp5B66E9DF4590EF4946A9519FF24A8379" Guid="AA2E39DB-FA71-450C-8D53-7900B458AF9E">
                <File Id="fil1D307CC90A475CB5E22987128E4D57A4" KeyPath="yes" Source="$(var.contribDir)\noro_simplify.rr" />
            </Component>
            <Component Id="cmp8CDF7017A499DA2BF935F7BBBD78F70A" Guid="A8091197-4D3C-468F-B87C-C2D7C497ACBF">
                <File Id="filFE7628C49D5FF24306C3D2CF70532AC0" KeyPath="yes" Source="$(var.contribDir)\ns_twistedlog.rr" />
            </Component>
            <Component Id="cmp246AE9DD455002173DFA60117FB36AB7" Guid="7BE74137-7051-49DA-8027-B502A9BE5E01">
                <File Id="fil596A77FB94F18B28FEFC03FCFADAEA12" KeyPath="yes" Source="$(var.contribDir)\oh_base.rr" />
            </Component>
            <Component Id="cmpC8D5110A9FB5ACEC1397513A7A38261D" Guid="5EF03B41-8275-4F2B-9057-5D8EF79605C2">
                <File Id="fil230894E2C138537162FA1AABA165085F" KeyPath="yes" Source="$(var.contribDir)\oh_hg_ekn.rr" />
            </Component>
            <Component Id="cmpAC927D4B6BEC1B443BDE1C390FE3B54F" Guid="15A3792D-9F09-4044-B069-34F60769F9FB">
                <File Id="fil943A8FBDD1179ED978047B41E562D131" KeyPath="yes" Source="$(var.contribDir)\oh_number.rr" />
            </Component>
            <Component Id="cmp5FED516D3D998291C22246C263C7BA3F" Guid="394A392F-2C5E-4424-B998-4807719C5B1A">
                <File Id="filE3F7D9A09E35417FF863653BCC035D0B" KeyPath="yes" Source="$(var.contribDir)\oh_p.rr" />
            </Component>
            <Component Id="cmp881E5D61F9A45D208A138AB9181EA369" Guid="978652C3-96B7-4638-A38D-0EBB444D2503">
                <File Id="filE69481D5E7326AFD7AA1B99575115D50" KeyPath="yes" Source="$(var.contribDir)\oh_parallel.rr" />
            </Component>
            <Component Id="cmp9BA8C840DA651DC645F4376E6784440F" Guid="203728F8-22D4-474C-BB5F-E4C6EA31EFE5">
                <File Id="filFF78A79E83B9F495C7E560477E487F5B" KeyPath="yes" Source="$(var.contribDir)\oh_sets.rr" />
            </Component>
            <Component Id="cmpC626C71CBA279D55BD3E799988C532FC" Guid="A5193C4F-B3A8-42DB-9EC9-CB622B682C44">
                <File Id="filF4616FEF2201EBD23C66866D240B1678" KeyPath="yes" Source="$(var.contribDir)\ok_diff.rr" />
            </Component>
            <Component Id="cmp8C9D29AD8A5E7BD3E60291C9FEDE35EF" Guid="6F309B99-F8D1-456F-8618-7CFB042664C1">
                <File Id="fil628255A6EF599DA957A5BF0206EAFB74" KeyPath="yes" Source="$(var.contribDir)\ok_dmodule.rr" />
            </Component>
            <Component Id="cmp0117FC7A9F5040725826035228FC2AD3" Guid="E269DA54-A03C-4EF9-8326-AFDFEC740EAD">
                <File Id="fil35F9564DDACA90C50015C0A241782A18" KeyPath="yes" Source="$(var.contribDir)\ok_matrix.rr" />
            </Component>
            <Component Id="cmpF6854F57B9B062796479DB9006FE6363" Guid="20481759-1ED5-4789-B2AE-9ED3DD26BEF5">
                <File Id="fil1810C16EE465452866A798C674988812" KeyPath="yes" Source="$(var.contribDir)\om.rr" />
            </Component>
            <Component Id="cmp82337225B19707D20DBC0A0337AB135B" Guid="AEC242E6-4FCC-4730-8C67-555099F080A6">
                <File Id="filEF7879E0BB83A0C09746C2FE24349CA4" KeyPath="yes" Source="$(var.contribDir)\oxrfc100.rr" />
            </Component>
            <Component Id="cmp27F3D0188A11974BE75367286064B580" Guid="55436EC0-8ED8-4DA2-80A6-0FE2AA3B3254">
                <File Id="filC7891F4D61BB519A6B283E1FE6E38ABC" KeyPath="yes" Source="$(var.contribDir)\oxrfc103.rr" />
            </Component>
            <Component Id="cmp2C80985970F202136088982CD2957720" Guid="B3189895-C8F3-4AB0-B0FD-57E4FAED51FD">
                <File Id="fil8DE10C7F2A2F09DDA7667B5EC4182025" KeyPath="yes" Source="$(var.contribDir)\oxshell.rr" />
            </Component>
            <Component Id="cmpAC9E5B9BCC528F6801052B43D13DF436" Guid="000508F5-0BBC-4838-BF6D-E2946C0D246F">
                <File Id="fil7956ACBCFEA794C498C6CCAF00297968" KeyPath="yes" Source="$(var.contribDir)\pfpcoh.rr" />
            </Component>
            <Component Id="cmp0314085339A09777AA7C275F865A3774" Guid="9870D2AB-691C-4FE1-9CBE-4BB8277BF721">
                <File Id="fil082D6F7AED47E155E1E76F76417C48CB" KeyPath="yes" Source="$(var.contribDir)\pfphom.rr" />
            </Component>
            <Component Id="cmp3D033715B56BBBB97A900D27B2E70A0E" Guid="3A9A255C-1191-4B76-80CB-D523E9153A95">
                <File Id="fil3814A55ADCEA918EF908D737648600E3" KeyPath="yes" Source="$(var.contribDir)\phc.rr" />
            </Component>
            <Component Id="cmpBCFDE3A5B5F35EC7B147CC623A9DD5FF" Guid="99C93720-750C-4574-842D-17A778F78DE4">
                <File Id="fil8ECDAC9839472C2223884BADFC052BCE" KeyPath="yes" Source="$(var.contribDir)\plucker.rr" />
            </Component>
            <Component Id="cmp0A40B109ED9C7728BEF23202B889A961" Guid="CEF50BD8-A9A1-4613-93AF-3250B631F03B">
                <File Id="fil5F8F843B8563C5937AAF72AB825D4B70" KeyPath="yes" Source="$(var.contribDir)\povray.rr" />
            </Component>
            <Component Id="cmpFDECB0FEB5981A7A09F9BC68A4A4178F" Guid="9E526824-2CA2-466C-B89D-B14B3E97E339">
                <File Id="filF4654DE5FB4615E918575FA251F77224" KeyPath="yes" Source="$(var.contribDir)\quote.rr" />
            </Component>
            <Component Id="cmp792B66B540B84DE7BB24F0B97087515E" Guid="CCC22C6B-BAC0-4C38-B808-7257598A0815">
                <File Id="filA65AA5F07F9A5D6483F32318F18DBEBC" KeyPath="yes" Source="$(var.contribDir)\series.rr" />
            </Component>
            <Component Id="cmp9E3A9E4F86647A18F8AEF6FA5F706A9C" Guid="4B360662-17D5-435E-BBDC-C95EE276B191">
                <File Id="filD7FAFB937BFEABF8C563CF2F2323CDFD" KeyPath="yes" Source="$(var.contribDir)\sm1-grep.sh" />
            </Component>
            <Component Id="cmpF9EF8C7479AED60AE0FC4EF856498F78" Guid="5F3B902E-FAB1-4B97-9FFE-DBE2BE1AB91E">
                <File Id="fil5A731F4CAE93A7CB9B35F81E5241E97D" KeyPath="yes" Source="$(var.contribDir)\sm1.rr" />
            </Component>
            <Component Id="cmp6A484C8F5BB985A29ECF54CF75503F91" Guid="CE80E27E-D256-42F9-B7C2-51D5956187A4">
                <File Id="filAD9D6DBC5649485C33892839AF6B029D" KeyPath="yes" Source="$(var.contribDir)\tags.h" />
            </Component>
            <Component Id="cmpC67F38EB0B37EC1B99D1135BBF14AC22" Guid="C606F0CB-7584-47FB-8FD2-CC82EB11F085">
                <File Id="fil4B895FF28442BB5AD6BA05856FC6D9B2" KeyPath="yes" Source="$(var.contribDir)\taji_alc.rr" />
            </Component>
            <Component Id="cmp6AC8B3DD082C48DE2D9A154A6B6FF753" Guid="DD84060F-4FAC-4952-B4B6-4EC2889D4F4C">
                <File Id="fil2B891E42EA24391340F3281DF1F501FD" KeyPath="yes" Source="$(var.contribDir)\taka_adaptive.rr" />
            </Component>
            <Component Id="cmpEC1D67558B5675F820028D87428756B9" Guid="AC43D928-D22E-4074-BCC8-97841C2DA643">
                <File Id="filC2023FF66D8F4E5D2D2298C09BC37513" KeyPath="yes" Source="$(var.contribDir)\taka_ahg.rr" />
            </Component>
            <Component Id="cmpE6C2B23307A254C8BA670B14D480157E" Guid="7A8B34D0-E286-4514-9EFF-A4B60E10BA18">
                <File Id="filB3A69A33FCE1F30C66462844451E418E" KeyPath="yes" Source="$(var.contribDir)\taka_base.rr" />
            </Component>
            <Component Id="cmp329D6922DD9C09AA2CB9327735FF71F6" Guid="9004A28E-C691-4356-BA91-83B9A0F87247">
                <File Id="filB580AE3741E60C2CAF31338589B35C59" KeyPath="yes" Source="$(var.contribDir)\taka_diffop.rr" />
            </Component>
            <Component Id="cmp9E73F573A031CADD294EC56AC15CE8CA" Guid="201D850D-E9C6-435C-B570-A697EECAFCE2">
                <File Id="fil0E3BD67E86D4539089E05AA68C65F75E" KeyPath="yes" Source="$(var.contribDir)\taka_hg21.rr" />
            </Component>
            <Component Id="cmp75DC7A852C93FF929D5B2F74309F9218" Guid="113E0694-B24E-443F-99CB-013E10EB4D20">
                <File Id="fil141BFE9A8292A8DAC80993E303963EB8" KeyPath="yes" Source="$(var.contribDir)\taka_hg32.rr" />
            </Component>
            <Component Id="cmpBD4AB17D333E7A34510949F984D9617F" Guid="B07F049D-533D-4084-8E6B-A6B2D61247EB">
                <File Id="filC5E989F77C29C243DAEC3A570BC100DF" KeyPath="yes" Source="$(var.contribDir)\taka_jv.rr" />
            </Component>
            <Component Id="cmp37FBF5E327F9DDD0378229A5DB3F003F" Guid="C1EE585F-C61D-483D-BA8B-60D4686F6B42">
                <File Id="filEA09748BDDD70F050417AF71C3EBDD56" KeyPath="yes" Source="$(var.contribDir)\taka_parter.rr" />
            </Component>
            <Component Id="cmp1956CE18FE1C0F7B2EDEC133926C218D" Guid="70A253CC-2E35-46A6-91C1-AFD3F16E5637">
                <File Id="filE8F37CA8D548A23DB029D7D2F59D01E8" KeyPath="yes" Source="$(var.contribDir)\taka_pfp.rr" />
            </Component>
            <Component Id="cmpF96B6F77803A0818CA2D77D26973BCC6" Guid="9C481D33-CD2F-47C9-A416-70046364F1D1">
                <File Id="fil483E5C120CB835BB17087744ADA818DC" KeyPath="yes" Source="$(var.contribDir)\taka_plot.rr" />
            </Component>
            <Component Id="cmp61425228B1BF77F800BC75D034755434" Guid="F3D384DC-928B-4783-9E94-46851725ACE7">
                <File Id="fil0D5D661E931534EA3B872160F56BC65A" KeyPath="yes" Source="$(var.contribDir)\taka_plucker.rr" />
            </Component>
            <Component Id="cmp877044F157771EA6D3108ABEA78A2680" Guid="084B00E1-6EFC-49EF-AFFF-76484EC5565A">
                <File Id="fil55B628789452406FEB4F431573A90F68" KeyPath="yes" Source="$(var.contribDir)\taka_poly.rr" />
            </Component>
            <Component Id="cmp8F7558EE26FA836335BA38C0B603C08E" Guid="5949D60D-FADB-4DB4-AB06-0068CCB7E96A">
                <File Id="fil47B9FCFD404EDB1C8368FAD4BC701970" KeyPath="yes" Source="$(var.contribDir)\taka_print.rr" />
            </Component>
            <Component Id="cmp1D3243B1AB34DBD6864EB67EEFED0CBC" Guid="33A874C3-3958-42EB-9F69-75C03602A47B">
                <File Id="fil014E07B5C71525B2C6A9BE2C5833036F" KeyPath="yes" Source="$(var.contribDir)\taka_print_cmo100.rr" />
            </Component>
            <Component Id="cmpD23EF48802C16F5A79B1B1154B593556" Guid="D5A779CA-781F-4F3F-99AE-82CD23C86B8B">
                <File Id="fil7C89A4E76200E15FC229D9192FAA646F" KeyPath="yes" Source="$(var.contribDir)\taka_print_tfb.rr" />
            </Component>
            <Component Id="cmpCEBEEEDD118A63E85EE917455D003981" Guid="A10D4501-FC9E-42E9-8E1D-0AC5398F7CC3">
                <File Id="fil3686C5A0F69758D6A61BAE6679BDD07C" KeyPath="yes" Source="$(var.contribDir)\taka_runge_kutta.rr" />
            </Component>
            <Component Id="cmp5979478AFE1EEDB79D2288174DE2873E" Guid="145857EB-835B-425A-AD02-332EFBA85A1B">
                <File Id="fil1234D22841DEBF03962AF4CE02C6774B" KeyPath="yes" Source="$(var.contribDir)\taka_util.rr" />
            </Component>
            <Component Id="cmp9E860A6C6942229078E5DE3F2E05BD1F" Guid="DD229CDB-039E-4756-9F90-464FF5DC3268">
                <File Id="filC90989DC096D480BF631ABB999C72A7A" KeyPath="yes" Source="$(var.contribDir)\taka_weyl.rr" />
            </Component>
            <Component Id="cmp9B4AD281876C6032FAD7AE71DE7D4B7F" Guid="EEADF5AB-01A9-4AD0-8259-D56EC24BB6E0">
                <File Id="fil2CFDB6B637D736CCDB657BBDE6FF5009" KeyPath="yes" Source="$(var.contribDir)\tex_symbols.rr" />
            </Component>
            <Component Id="cmp7C1DEBBAE5F3D4D5641D6AFF0AEE9584" Guid="2C933D05-A6C8-47DB-94B4-6CD576D028F6">
                <File Id="filF2EC77F92C575D91CB2B7ED0EC5FF6C2" KeyPath="yes" Source="$(var.contribDir)\tigers.rr" />
            </Component>
            <Component Id="cmpA18F1E989DE2C4D6649D1565C938E7AF" Guid="8C10959F-23C6-4CC6-9D10-F90D47507C62">
                <File Id="fil36648D24AF94A8FCA4D5D054025EF1CD" KeyPath="yes" Source="$(var.contribDir)\tk_bess2.rr" />
            </Component>
            <Component Id="cmpF61E7DDCA2B0497A1297AD1D991BD57A" Guid="FE76F6AA-C0C4-4D8F-8398-6F23E1C7D733">
                <File Id="fil7FFEA67E57D6C7CACF76B0A0481A050D" KeyPath="yes" Source="$(var.contribDir)\tk_cform.rr" />
            </Component>
            <Component Id="cmp301DA0BF07FDC694224C862E092D05CA" Guid="2BA54D3E-8B68-45A8-A2AE-46E5A97CEC34">
                <File Id="fil9B6A3B901BCFC0980FDDFB932A0BEC53" KeyPath="yes" Source="$(var.contribDir)\tk_intde-1.rr" />
            </Component>
            <Component Id="cmp73DAB3216C9E9CC2129561F8359EBA26" Guid="68CA52BF-DAEE-4A5F-86B8-34763CAB99D6">
                <File Id="filAEEDFDF9EEB3D520463B699B91040E82" KeyPath="yes" Source="$(var.contribDir)\tk_jack.rr" />
            </Component>
            <Component Id="cmp899FA28684D99E515D872932130926B8" Guid="E358A2DE-F35E-4FE9-BCD3-CADDE5EC26B9">
                <File Id="fil8C509CB7A7BBF44489C73612348130DA" KeyPath="yes" Source="$(var.contribDir)\tk_math.rr" />
            </Component>
            <Component Id="cmp900A84CA29B1FB03CBCECBCD0AB7815C" Guid="B005432B-5A32-48C6-BFEC-A6A032A0C938">
                <File Id="fil50C7BFA1C997572B0E09B320F063213D" KeyPath="yes" Source="$(var.contribDir)\tk_pf2.rr" />
            </Component>
            <Component Id="cmpDADDBE9C37113516164A48AAAACEB5D5" Guid="CA4AB90E-DACF-44AB-A8B3-6CB0DAB5A207">
                <File Id="fil2E62E9A9E52D9124A67FF0DE37F2977B" KeyPath="yes" Source="$(var.contribDir)\tk_pfn.rr" />
            </Component>
            <Component Id="cmp9E0BCB90D083FFF3BA1CEB447BBA9084" Guid="EA5B11BB-F073-440F-ADD9-F95C179F1E89">
                <File Id="filB9AF1070F4D812D2D2726736095D4CBE" KeyPath="yes" Source="$(var.contribDir)\tk_polymake.rr" />
            </Component>
            <Component Id="cmp46FB58BFA82DF191E455554F66476A15" Guid="BD6D16F9-3711-4139-8B0C-D475ED9841B1">
                <File Id="fil6A20BD1031EBC0E24699520EA473302B" KeyPath="yes" Source="$(var.contribDir)\tk_r.rr" />
            </Component>
            <Component Id="cmp44A12B25C84007CECCE9453B15308DCF" Guid="C0A6B604-01B1-45A3-A7D2-691F64166D2A">
                <File Id="fil4B9E22FF30AD98D128A224AE655FFE89" KeyPath="yes" Source="$(var.contribDir)\tk_test1.rr" />
            </Component>
            <Component Id="cmp9E268F28AA7D96EF0123578CABBB1789" Guid="89FFB518-03C9-44C8-8A07-3E1C8E226B4B">
                <File Id="filA5EC0A82ED612B747DE68902DC4677C3" KeyPath="yes" Source="$(var.contribDir)\uldet.rr" />
            </Component>
            <Component Id="cmp303CCBE595A41FFDF46860003E7F72A9" Guid="1BAA23C0-B510-46AF-9263-93E5DE28ECAC">
                <File Id="fil476E3BA57FB50B4F1FA2A35B1CA1A3D9" KeyPath="yes" Source="$(var.contribDir)\xml_basic_symbols.rr" />
            </Component>
            <Component Id="cmpE8982D3FA9B73485AB67EEAF62BF367A" Guid="787C0ACB-96A3-4226-BAE8-D77CAE546B2E">
                <File Id="fil0082F9019E4C1F86FE6788EAC5767680" KeyPath="yes" Source="$(var.contribDir)\yang.rr" />
            </Component>
            <Component Id="cmpF0180EC272CD7DD7AA061EC67E4A8994" Guid="940877CB-CB83-4617-8566-FF1C39321731">
                <File Id="fil6E9CB7946A4559E9608EC9F0ACAAC0F6" KeyPath="yes" Source="$(var.contribDir)\yang_D.rr" />
            </Component>
            <Component Id="cmp2DC663F7ACE6026085E449DAAC51E720" Guid="B9CF73DE-10E6-42E9-ADC2-9C9EBC9AB413">
                <File Id="fil7860B48FD9CC312F9AABECFA5F71DE7B" KeyPath="yes" Source="$(var.contribDir)\yang_lib.rr" />
            </Component>
            <Component Id="cmp5CD60B41A9874ECA8AF45EFF96956DBD" Guid="0C5E0963-E178-4590-8CBD-0D157012B428">
                <File Id="filFCC69CA2DED6E7EEFA16EFDA16B43D22" KeyPath="yes" Source="$(var.contribDir)\y_prime.rr" />
            </Component>
            <Directory Id="dir09509BAE5DB10DE1892BCF74043EABDB" Name="fj_curve">
                <Component Id="cmp418CEAE160547203AA3F22DF7C5E0D06" Guid="55889258-8B06-49D3-BF72-9403C93F75BC">
                    <File Id="fil22DFB6A29A42CF9BE907779DADB134CC" KeyPath="yes" Source="$(var.contribDir)\fj_curve\dualgraph.rr" />
                </Component>
            </Directory>
            <Directory Id="dirCE15264AAF2D67844FDBCC1BA2656D27" Name="f_res">
                <Component Id="cmpC568240CFC2061863D48515C9C7F42A9" Guid="B23BC991-ADFE-48CB-9548-6E391ABD6A2C">
                    <File Id="fil88243E3F7FDAD2EA991DFD97AE7A7C0D" KeyPath="yes" Source="$(var.contribDir)\f_res\bres.rr" />
                </Component>
                <Component Id="cmpAC361EA4C98AE50F4242EDA9AEE9C77B" Guid="69D26B1C-00BD-4A70-A0DD-4109DFEA9DBC">
                    <File Id="fil0EC2D814B3092236DB46314D58C80C45" KeyPath="yes" Source="$(var.contribDir)\f_res\f_res.rr" />
                </Component>
                <Component Id="cmp7F7D6F3BF4EAB254E0B959C9E6DD226C" Guid="07F71991-8B5B-4E38-9244-491D01C30AE3">
                    <File Id="filCE65A22DDA02F8AE5BCF28AC52EACFD7" KeyPath="yes" Source="$(var.contribDir)\f_res\tools.rr" />
                </Component>
            </Directory>
            <Directory Id="dirB98DA44485958D0A5A0102F933B8BA30" Name="nk_gfan_4ti2">
                <Component Id="cmpA431B34D5A19FAA5F137432B9477B38B" Guid="2B39E44A-3187-4AE7-A8A1-2131665FF8E7">
                    <File Id="fil527734511A7CD7BA9BECF24EBF3E85EB" KeyPath="yes" Source="$(var.contribDir)\nk_gfan_4ti2\4ti2_rr.rb" />
                </Component>
                <Component Id="cmp2483EEE62F64C994464C6D48475A33B6" Guid="A0A0B96B-D595-4E62-81A5-A2A9D574A0BF">
                    <File Id="filF11B1417178A188829CC540BA92A44E3" KeyPath="yes" Source="$(var.contribDir)\nk_gfan_4ti2\gfan_gbcone.rb" />
                </Component>
                <Component Id="cmp2BF7A9F54ECCC9FF35A60039F1559583" Guid="FD45EB27-1A9F-4BAB-95B3-776C13282BE4">
                    <File Id="filFA5684D98D728EA794D8D1B69638434B" KeyPath="yes" Source="$(var.contribDir)\nk_gfan_4ti2\gfan_rr.rb" />
                </Component>
                <Component Id="cmp2DBEF53834C3B728C3D62F4C890BEA83" Guid="D6F279A1-EECC-4A9A-994B-5764A150CA5A">
                    <File Id="fil4CDD82F4CD13AD765FED958A60A50088" KeyPath="yes" Source="$(var.contribDir)\nk_gfan_4ti2\nk_4ti2.rr" />
                </Component>
                <Component Id="cmp4903B2378B9CD890FA20EA684D86FEF2" Guid="E27D6E46-B0DA-4A36-BD55-868FF424F477">
                    <File Id="fil3531559D75FA83AD85B6E4E386247096" KeyPath="yes" Source="$(var.contribDir)\nk_gfan_4ti2\nk_gfan.rr" />
                </Component>
            </Directory>
            <Directory Id="dir67D19331879ACEB9B1525E42E81053C4" Name="nk_mora">
                <Component Id="cmpFB605497E41E1AAF7A11F86DC1F6A7A7" Guid="39D63198-B7B3-476B-B099-9A207848DA6B">
                    <File Id="filEA4D2E65BEF5B4979E70880A1242D1A4" KeyPath="yes" Source="$(var.contribDir)\nk_mora\localb.rr" />
                </Component>
                <Component Id="cmp74A751D52FBC81F5C116EE243A2265C8" Guid="2368A883-36CF-45C1-9A26-CE9ECEAEDA03">
                    <File Id="fil89631204CE0D638FD2DD41BEF74191D9" KeyPath="yes" Source="$(var.contribDir)\nk_mora\local_ann.rr" />
                </Component>
                <Component Id="cmp07D542C4FD89CF5FF9493DCA185572E2" Guid="C44143DA-6325-4074-8E9A-C0A3217D0351">
                    <File Id="filB01866E51828345B636738D68294FE8B" KeyPath="yes" Source="$(var.contribDir)\nk_mora\unit.rr" />
                </Component>
            </Directory>
            <Directory Id="dir130C0E720293A94EAE6111D23953C7C7" Name="todo_parametrize">
                <Component Id="cmp3D58874C0386C4ADF8D964C66B9CA5C7" Guid="0F4A64DC-D348-430D-BA83-2DC7C72E143C">
                    <File Id="fil1E96FDF1B20C4D80238A8F81055F77C3" KeyPath="yes" Source="$(var.contribDir)\todo_parametrize\adjoint.rr" />
                </Component>
                <Component Id="cmpBCAF49E0E347BFFEC04B7524004A57C3" Guid="B0BA386E-AAE5-4AA0-BF58-0D3CBCF175F3">
                    <File Id="fil0B1961B81AF25517A1BFBAB655009A02" KeyPath="yes" Source="$(var.contribDir)\todo_parametrize\birational.rr" />
                </Component>
                <Component Id="cmpEF745D00424D10132672765E218AA46B" Guid="89A9D5A4-C4C9-48F6-8185-9B451BFBB31A">
                    <File Id="fil24EC3D162A57DF26DD3F5CB665D9C397" KeyPath="yes" Source="$(var.contribDir)\todo_parametrize\element.rr" />
                </Component>
                <Component Id="cmpBB30F9DF173649DEDED0B8E4BB5DF3CA" Guid="87B366B0-B2D2-4A75-936D-3303DA6C9EFD">
                    <File Id="fil957CFEA8401200F2EFF83A5BF1211570" KeyPath="yes" Source="$(var.contribDir)\todo_parametrize\examples.rr" />
                </Component>
                <Component Id="cmp5B52017965EC95C8AA2661D96B6C2EEA" Guid="44583354-FA50-4156-AEAE-75979D19C9E9">
                    <File Id="fil64BE4A1E5533323E93F0FECFB7C68459" KeyPath="yes" Source="$(var.contribDir)\todo_parametrize\for_paper.rr" />
                </Component>
                <Component Id="cmpA023EB13026C87D0B8BCB2A49A9D83D1" Guid="DA80F2D1-6C20-4EC2-BF5B-BC90FC0A3502">
                    <File Id="fil21D150B96B2AF3EBDB7DF61E995003E3" KeyPath="yes" Source="$(var.contribDir)\todo_parametrize\parametrize.rr" />
                </Component>
                <Component Id="cmp69650EC513ABEEFC7F8713091417E512" Guid="269427F5-ADF3-433B-AE64-7E4BA2EFCB10">
                    <File Id="fil3599C6025704DC6A5AC860C721EF688C" KeyPath="yes" Source="$(var.contribDir)\todo_parametrize\quadratic.rr" />
                </Component>
                <Component Id="cmp47611B322689940023C33165A65B423F" Guid="8AB7D2CC-1293-405C-8EE4-FCA379FDE0A9">
                    <File Id="filD27A6AD953F4AC718EC95E716E3C1AB4" KeyPath="yes" Source="$(var.contribDir)\todo_parametrize\singularity.rr" />
                </Component>
                <Component Id="cmpDACD1071E60E8F47D220E7E40EA79DF5" Guid="384C88B0-3798-4AE3-9CC1-EDDD72144F15">
                    <File Id="fil606DB900C57D664BBE2B534A0F4C81FB" KeyPath="yes" Source="$(var.contribDir)\todo_parametrize\todo_parametrize.rr" />
                </Component>
                <Component Id="cmp84693295D61E67C3356E90C27A12B60C" Guid="8D888D3B-A9C0-40AE-8CD5-D25A84A9FF6C">
                    <File Id="filD48238EE643878BAC040B64EE32AC4FD" KeyPath="yes" Source="$(var.contribDir)\todo_parametrize\unimod.rr" />
                </Component>
            </Directory>
            <Directory Id="dir5FE25A0A2E7B17DB0D58D7862C8C78BA" Name="y_prime">
                <Component Id="cmp899D20CBD2A4ABA3C9F6FEC1B164565A" Guid="5B3337F8-CA9C-4099-9AED-18D86F58BE9B">
                    <File Id="fil5180BC7EE526D525092E3CC7A0298DF3" KeyPath="yes" Source="$(var.contribDir)\y_prime\honda_prime.rr" />
                </Component>
                <Component Id="cmpABAF6233E9A5639F7CE73733391302D1" Guid="F92730A4-1D57-4EE2-9DD4-CFF8AD1639C6">
                    <File Id="fil268EA19F7B9A3627C54DFB4ADB73D9DE" KeyPath="yes" Source="$(var.contribDir)\y_prime\h_string.rr" />
                </Component>
                <Component Id="cmp2E4E933D6079462A3ABAD380EB6AE87A" Guid="42C0AE47-3EB7-44A9-B06B-8DCCFFA7372C">
                    <File Id="filB4515AC0C365E82127D4BA19B46DD4A9" KeyPath="yes" Source="$(var.contribDir)\y_prime\Makefile" />
                </Component>
                <Component Id="cmp285ACF7DDA0794B1CE7E2E3A67B05287" Guid="592B32D3-4400-491C-BE2D-FECF9EDF7093">
                    <File Id="filBE8D42D3906EAFE198E8F7C3BC761C35" KeyPath="yes" Source="$(var.contribDir)\y_prime\shnhr_prime.rr" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ContribGrp">
            <ComponentRef Id="cmp9D4AA7254125EF86072790B83DE6D791" />
            <ComponentRef Id="cmpF83F88756786A352674F36C5E6F13BFB" />
            <ComponentRef Id="cmpCEFFFB30697825565C39C10AAFC8A232" />
            <ComponentRef Id="cmp316F388C42EAE2AFA384358ACCBEE5E2" />
            <ComponentRef Id="cmp205350E22AC8EB747E8F07863A649B8A" />
            <ComponentRef Id="cmp3E6BF8523C4FE37A28EDD85CC8070F5C" />
            <ComponentRef Id="cmp124EE0EC1C3ED61CC4A77A722C35D243" />
            <ComponentRef Id="cmp4C603C02FDC497BABCDDBB8C52ED616D" />
            <ComponentRef Id="cmpF5C98738D6DBD7CA80D7D0F927875E91" />
            <ComponentRef Id="cmp4214FD055E605E6F12C42906B745C152" />
            <ComponentRef Id="cmp8839AC0BBB660206754EADF7D048317B" />
            <ComponentRef Id="cmp98FA59BDC9476BB84C9F44DCC912D893" />
            <ComponentRef Id="cmpD94BAFF16E666E49D42DD37BB0DEEBDE" />
            <ComponentRef Id="cmp8CDFDD4D149A75F128EC229F16398FFC" />
            <ComponentRef Id="cmp2EBC516B2C2DCB78D20204511C5C10B9" />
            <ComponentRef Id="cmpD094D2D8AFC1CCFB545DACDD89D49705" />
            <ComponentRef Id="cmpB259F4D4488F025ECC3ABAAD34A05494" />
            <ComponentRef Id="cmpDD2275DDC27DB570BDB169FAB4AD60A7" />
            <ComponentRef Id="cmp32023A87036713F5E150A11AFF53ADD8" />
            <ComponentRef Id="cmp2FAEA5454A0C13E322726EF61B5EE3DC" />
            <ComponentRef Id="cmp158C869D798AF1DD1E2B0917880334C4" />
            <ComponentRef Id="cmp1C4C3737B2E00B0CC815327FF18FC405" />
            <ComponentRef Id="cmp470149447EDAF19E4A6EC75B04231042" />
            <ComponentRef Id="cmpDF140AF0E4AA2D1D72EEC702D90BE0D2" />
            <ComponentRef Id="cmpC79C5E79169BD556E0B705B7FBFB1E5F" />
            <ComponentRef Id="cmpF8995920067F1A81388DF993BF75D2E8" />
            <ComponentRef Id="cmp72B8273B53A130EDBF06D17D7670359F" />
            <ComponentRef Id="cmp5CCFFEB48311C4964BD28C11FC9809E6" />
            <ComponentRef Id="cmp65748E6017684E8FDEF66C7C2D70BCCB" />
            <ComponentRef Id="cmpC251678517D46321743D6C19C4047A72" />
            <ComponentRef Id="cmpF70FBA9207EF39BCE28811F8B18D3C40" />
            <ComponentRef Id="cmp7DECBFF38704400E06C98A02C3F82A95" />
            <ComponentRef Id="cmp9F63BF783837E82C54BBA8CD4EAD3083" />
            <ComponentRef Id="cmpC7D1881810843269B2D07A7E24BCC87C" />
            <ComponentRef Id="cmp56B2E5F380FC649FD88B3921DFF2775B" />
            <ComponentRef Id="cmp2641512831A4C58FB75D0670523678AB" />
            <ComponentRef Id="cmp0AC9946DECF97A22D509D46E0A1AA427" />
            <ComponentRef Id="cmp9F47AC7BFA24E97B8B57A95FB25A32C4" />
            <ComponentRef Id="cmp4C40C7C99B5F6C4CF1B51B3A63546308" />
            <ComponentRef Id="cmp5B66E9DF4590EF4946A9519FF24A8379" />
            <ComponentRef Id="cmp8CDF7017A499DA2BF935F7BBBD78F70A" />
            <ComponentRef Id="cmp246AE9DD455002173DFA60117FB36AB7" />
            <ComponentRef Id="cmpC8D5110A9FB5ACEC1397513A7A38261D" />
            <ComponentRef Id="cmpAC927D4B6BEC1B443BDE1C390FE3B54F" />
            <ComponentRef Id="cmp5FED516D3D998291C22246C263C7BA3F" />
            <ComponentRef Id="cmp881E5D61F9A45D208A138AB9181EA369" />
            <ComponentRef Id="cmp9BA8C840DA651DC645F4376E6784440F" />
            <ComponentRef Id="cmpC626C71CBA279D55BD3E799988C532FC" />
            <ComponentRef Id="cmp8C9D29AD8A5E7BD3E60291C9FEDE35EF" />
            <ComponentRef Id="cmp0117FC7A9F5040725826035228FC2AD3" />
            <ComponentRef Id="cmpF6854F57B9B062796479DB9006FE6363" />
            <ComponentRef Id="cmp82337225B19707D20DBC0A0337AB135B" />
            <ComponentRef Id="cmp27F3D0188A11974BE75367286064B580" />
            <ComponentRef Id="cmp2C80985970F202136088982CD2957720" />
            <ComponentRef Id="cmpAC9E5B9BCC528F6801052B43D13DF436" />
            <ComponentRef Id="cmp0314085339A09777AA7C275F865A3774" />
            <ComponentRef Id="cmp3D033715B56BBBB97A900D27B2E70A0E" />
            <ComponentRef Id="cmpBCFDE3A5B5F35EC7B147CC623A9DD5FF" />
            <ComponentRef Id="cmp0A40B109ED9C7728BEF23202B889A961" />
            <ComponentRef Id="cmpFDECB0FEB5981A7A09F9BC68A4A4178F" />
            <ComponentRef Id="cmp792B66B540B84DE7BB24F0B97087515E" />
            <ComponentRef Id="cmp9E3A9E4F86647A18F8AEF6FA5F706A9C" />
            <ComponentRef Id="cmpF9EF8C7479AED60AE0FC4EF856498F78" />
            <ComponentRef Id="cmp6A484C8F5BB985A29ECF54CF75503F91" />
            <ComponentRef Id="cmpC67F38EB0B37EC1B99D1135BBF14AC22" />
            <ComponentRef Id="cmp6AC8B3DD082C48DE2D9A154A6B6FF753" />
            <ComponentRef Id="cmpEC1D67558B5675F820028D87428756B9" />
            <ComponentRef Id="cmpE6C2B23307A254C8BA670B14D480157E" />
            <ComponentRef Id="cmp329D6922DD9C09AA2CB9327735FF71F6" />
            <ComponentRef Id="cmp9E73F573A031CADD294EC56AC15CE8CA" />
            <ComponentRef Id="cmp75DC7A852C93FF929D5B2F74309F9218" />
            <ComponentRef Id="cmpBD4AB17D333E7A34510949F984D9617F" />
            <ComponentRef Id="cmp37FBF5E327F9DDD0378229A5DB3F003F" />
            <ComponentRef Id="cmp1956CE18FE1C0F7B2EDEC133926C218D" />
            <ComponentRef Id="cmpF96B6F77803A0818CA2D77D26973BCC6" />
            <ComponentRef Id="cmp61425228B1BF77F800BC75D034755434" />
            <ComponentRef Id="cmp877044F157771EA6D3108ABEA78A2680" />
            <ComponentRef Id="cmp8F7558EE26FA836335BA38C0B603C08E" />
            <ComponentRef Id="cmp1D3243B1AB34DBD6864EB67EEFED0CBC" />
            <ComponentRef Id="cmpD23EF48802C16F5A79B1B1154B593556" />
            <ComponentRef Id="cmpCEBEEEDD118A63E85EE917455D003981" />
            <ComponentRef Id="cmp5979478AFE1EEDB79D2288174DE2873E" />
            <ComponentRef Id="cmp9E860A6C6942229078E5DE3F2E05BD1F" />
            <ComponentRef Id="cmp9B4AD281876C6032FAD7AE71DE7D4B7F" />
            <ComponentRef Id="cmp7C1DEBBAE5F3D4D5641D6AFF0AEE9584" />
            <ComponentRef Id="cmpA18F1E989DE2C4D6649D1565C938E7AF" />
            <ComponentRef Id="cmpF61E7DDCA2B0497A1297AD1D991BD57A" />
            <ComponentRef Id="cmp73DAB3216C9E9CC2129561F8359EBA26" />
            <ComponentRef Id="cmp899FA28684D99E515D872932130926B8" />
            <ComponentRef Id="cmp900A84CA29B1FB03CBCECBCD0AB7815C" />
            <ComponentRef Id="cmpDADDBE9C37113516164A48AAAACEB5D5" />
            <ComponentRef Id="cmp9E0BCB90D083FFF3BA1CEB447BBA9084" />
            <ComponentRef Id="cmp46FB58BFA82DF191E455554F66476A15" />
            <ComponentRef Id="cmp44A12B25C84007CECCE9453B15308DCF" />
            <ComponentRef Id="cmp9E268F28AA7D96EF0123578CABBB1789" />
            <ComponentRef Id="cmp303CCBE595A41FFDF46860003E7F72A9" />
            <ComponentRef Id="cmpE8982D3FA9B73485AB67EEAF62BF367A" />
            <ComponentRef Id="cmpF0180EC272CD7DD7AA061EC67E4A8994" />
            <ComponentRef Id="cmp2DC663F7ACE6026085E449DAAC51E720" />
            <ComponentRef Id="cmp5CD60B41A9874ECA8AF45EFF96956DBD" />
            <ComponentRef Id="cmp418CEAE160547203AA3F22DF7C5E0D06" />
            <ComponentRef Id="cmpC568240CFC2061863D48515C9C7F42A9" />
            <ComponentRef Id="cmpAC361EA4C98AE50F4242EDA9AEE9C77B" />
            <ComponentRef Id="cmp7F7D6F3BF4EAB254E0B959C9E6DD226C" />
            <ComponentRef Id="cmpA431B34D5A19FAA5F137432B9477B38B" />
            <ComponentRef Id="cmp2483EEE62F64C994464C6D48475A33B6" />
            <ComponentRef Id="cmp2BF7A9F54ECCC9FF35A60039F1559583" />
            <ComponentRef Id="cmp2DBEF53834C3B728C3D62F4C890BEA83" />
            <ComponentRef Id="cmp4903B2378B9CD890FA20EA684D86FEF2" />
            <ComponentRef Id="cmpFB605497E41E1AAF7A11F86DC1F6A7A7" />
            <ComponentRef Id="cmp74A751D52FBC81F5C116EE243A2265C8" />
            <ComponentRef Id="cmp07D542C4FD89CF5FF9493DCA185572E2" />
            <ComponentRef Id="cmp3D58874C0386C4ADF8D964C66B9CA5C7" />
            <ComponentRef Id="cmpBCAF49E0E347BFFEC04B7524004A57C3" />
            <ComponentRef Id="cmpEF745D00424D10132672765E218AA46B" />
            <ComponentRef Id="cmpBB30F9DF173649DEDED0B8E4BB5DF3CA" />
            <ComponentRef Id="cmp5B52017965EC95C8AA2661D96B6C2EEA" />
            <ComponentRef Id="cmpA023EB13026C87D0B8BCB2A49A9D83D1" />
            <ComponentRef Id="cmp69650EC513ABEEFC7F8713091417E512" />
            <ComponentRef Id="cmp47611B322689940023C33165A65B423F" />
            <ComponentRef Id="cmpDACD1071E60E8F47D220E7E40EA79DF5" />
            <ComponentRef Id="cmp84693295D61E67C3356E90C27A12B60C" />
            <ComponentRef Id="cmp899D20CBD2A4ABA3C9F6FEC1B164565A" />
            <ComponentRef Id="cmpABAF6233E9A5639F7CE73733391302D1" />
            <ComponentRef Id="cmp2E4E933D6079462A3ABAD380EB6AE87A" />
            <ComponentRef Id="cmp285ACF7DDA0794B1CE7E2E3A67B05287" />
        </ComponentGroup>
    </Fragment>
</Wix>