/*
 * Copyright (c) 1994-2000 FUJITSU LABORATORIES LIMITED 
 * All rights reserved.
 * 
 * $OpenXM: OpenXM_contrib2/asir2000/include/Risa.tmpl,v 1.35 2003/03/07 03:12:26 noro Exp $ 
*/
#include "config.h"

#define USE_GCC
/* #define USE_MPI */
/* #define USE_FFT_FLOAT */
/* #define USE_LAPACK */
/* #define USE_FEP */
/* #undef OpenXM_HOME */
/* #define USE_INTERVAL */

#if defined(cygwinArchitecture)
INSTALL=/bin/install
#endif

#if defined(LinuxArchitecture)
#if LinuxCLibMajorVersion >= 6 || \
    (LinuxCLibMajorVersion == 5 && LinuxCLibMinorVersion == 99)
STD_CPP_DEFINES = -traditional -Dlinux -D_BSD_SOURCE $(PROJECT_DEFINES)
STD_DEFINES = -Dlinux -D_BSD_SOURCE $(PROJECT_DEFINES)
#if 0
EXTRA_LDOPTIONS=-static
#endif
#endif
#endif

#if defined(AlphaArchitecture) || defined(DarwinArchitecture)
#undef USE_GCC
#endif

#define SUN4M 1

#if defined(OpenXM_HOME)
ROOTDIR=OpenXM_HOME
#else
ROOTDIR=/usr/local
#endif

ASIR_BINDIR=$(ROOTDIR)/bin
ASIR_LIBDIR=$(ROOTDIR)/lib/asir
ASIR_INCDIR=$(ROOTDIR)/include/asir
GC_INCDIR=$(ROOTDIR)/include/gc

#if defined(USE_GCC)
CC= gcc
#else
CC= cc
#endif

CDEBUGFLAGS= -g -O

#if defined(SunArchitecture)
#if SystemV4
#if defined(SparcArchitecture)
CDEBUGFLAGS= -g -O -mv8
#else
CDEBUGFLAGS= -g -O
#endif
CCOPTIONS = -DSYSV -DSVR4
AR=/usr/ccs/bin/ar cqs
/* ranlib is dummy on Solaris 2. */
RANLIB=/usr/ccs/bin/ranlib
#endif
#if !SystemV4
#if defined(USE_GCC)
LOCAL_LDFLAGS= -static
#else
LOCAL_LDFLAGS= -Bstatic
#endif
#endif
#endif

#if defined(MipsArchitecture)
#if defined(SGIArchitecture)
CC=cc -signed -n32 -mips3
CDEBUGFLAGS=-O3
#else
HEAP_START_ADDR=2000000
#if defined(RISA_TOP_DIR)
CC= cc -Wl,-D -Wl,$(HEAP_START_ADDR)
#endif
#endif
#endif

#if defined(AlphaArchitecture)
CCOPTIONS =
PARIFLAGS = -DLONG_IS_64BIT
#else
PARIFLAGS = -DLONG_IS_32BIT
#endif

#if defined(DarwinArchitecture)
CCOPTIONS =
#endif

#if defined(AIXArchitecture)
CC = cc -qchars=signed
#endif

#ifdef USE_PARI
PARI= -DPARI
PARIINC = -I$(ROOTDIR)/include/pari
#if defined(OpenXM_HOME)
PARILIB = $(ROOTDIR)/lib/lib$(LIBPARI).a
#else
PARILIB = -L/usr/local/lib -l$(LIBPARI)
#endif
#else
PARI=
PARIINC = 
PARILIB =
#endif

#ifdef USE_LAPACK
LAPACK= -DLAPACK
LAPACKLIB = -llapack -lblas -lI77 -lF77
#else
LAPACK=
LAPACKLIB =
#endif

#ifdef USE_PLOT
DO_PLOT= -DDO_PLOT
#else
DO_PLOT=
#endif

#ifdef USE_FFT_FLOAT
USE_FLOAT= -DUSE_FLOAT
#else
USE_FLOAT=
#endif

#ifdef USE_MPI
MPI= -DMPI
MPILIB=-L/opt/FJSVmpi2/lib -lmpi -L/opt/FSUNaprun/lib -lmpl -lemi -lthread
MPIINC=-I/opt/FJSVmpi2/include
#else
MPI=
MPILIB=
MPIINC=
#endif

#ifdef USE_FEP
FEP= -DFEP
#if defined(OpenXM_HOME)
FEPLIB= $(ROOTDIR)/lib/libreadline.a
#else
FEPLIB = -lreadline -ltermcap
#endif
#else
FEP=
FEPLIB =
#endif


#if !defined(NullParameter)
#define NullParameter
#endif

#ifdef USE_INTERVAL
INTERVALDEF = -DINTERVAL -DITVDEBUG
INTERVALDEF = -DINTERVAL
#else
INTERVALDEF =
#endif

INCLUDES= -I. -I$(TOP)/include -I$(TOP)/parse -I$(TOP)/io -I$(TOP)/gc/include $(PARIINC) $(MPIINC)
DEFINES= $(INTERVALDEF) -DINET=$(INET) $(PARI) $(LAPACK) $(DO_PLOT) $(USE_FLOAT) $(PARIFLAGS) -DHMEXT $(MPI) $(FEP) $(LINUX_EXTRA_DEFINES)
