/* $OpenXM: OpenXM_contrib2/asir2000/include/Risa.tmpl,v 1.6 2000/03/06 08:24:23 noro Exp $ */
#include "config.h"

#define USE_GCC
#define USE_INET
/* #define USE_MPI */
/* #define USE_FFT_FLOAT */
/* #define USE_LAPACK */

#if defined(LinuxArchitecture)
#if LinuxCLibMajorVersion >= 6 || \
    (LinuxCLibMajorVersion == 5 && LinuxCLibMinorVersion == 99)
STD_CPP_DEFINES = -traditional -Dlinux -D_BSD_SOURCE $(PROJECT_DEFINES)
STD_DEFINES = -Dlinux -D_BSD_SOURCE $(PROJECT_DEFINES)
#endif
#endif

#if defined(AlphaArchitecture)
#undef USE_GCC
#endif

#define SUN4M 1

#if defined(OpenXM_HOME)
ROOTDIR=OpenXM_HOME
#else
ROOTDIR=/usr/local
#endif

ASIR_BINDIR=$(ROOTDIR)/bin
ASIR_LIBDIR=$(ROOTDIR)/lib/asir
ASIR_INCDIR=$(ROOTDIR)/include/asir
GC_INCDIR=$(ROOTDIR)/include/gc

#if defined(USE_GCC)
CC= gcc
#else
CC= cc
#endif

CDEBUGFLAGS= -O6

#if defined(SparcArchitecture)
#if SystemV4
CDEBUGFLAGS= -O6 -mv8
CCOPTIONS = -DSYSV -DSVR4
AR=/usr/ccs/bin/ar cqs
/* ranlib is dummy on Solaris 2. */
RANLIB=/usr/ccs/bin/ranlib
#endif
#if !SystemV4
#if defined(USE_GCC)
LOCAL_LDFLAGS= -static
#else
LOCAL_LDFLAGS= -Bstatic
#endif
#endif
#endif

#if defined(MipsArchitecture)
#if defined(SGIArchitecture)
CC=cc -signed -n32 -mips3
CDEBUGFLAGS=-O3
#else
HEAP_START_ADDR=2000000
#if defined(RISA_TOP_DIR)
CC= cc -Wl,-D -Wl,$(HEAP_START_ADDR)
#endif
#endif
#endif

#if defined(AlphaArchitecture)
PARIFLAGS = -DLONG_IS_64BIT
#else
PARIFLAGS = -DLONG_IS_32BIT
#endif

#ifdef USE_PARI
PARI=1
PARIINC = $(ROOTDIR)/include/pari
PARILIB = $(ROOTDIR)/lib/libpari.a
#else
PARI=0
PARIINC = .
PARILIB =
#endif

#ifdef USE_INET
INET=1
#else
INET=0
#endif

#ifdef USE_LAPACK
LAPACK=1
LAPACKLIB = -llapack -lblas -lI77 -lF77
#else
LAPACK=0
LAPACKLIB =
#endif

#ifdef USE_PLOT
DO_PLOT=1
#else
DO_PLOT=0
#endif

#ifdef USE_FFT_FLOAT
USE_FLOAT=1
#else
USE_FLOAT=0
#endif

#ifdef USE_MPI
MPI=1
MPILIB=-L/opt/FJSVmpi2/lib -lmpi -L/opt/FSUNaprun/lib -lmpl -lemi -lthread
MPIINC=/opt/FJSVmpi2/include
#else
MPI=0
MPILIB=
MPIINC=.
#endif

#if !defined(NullParameter)
#define NullParameter
#endif

INCLUDES= -I$(TOP)/include -I$(TOP)/parse -I$(TOP)/io -I$(PARIINC) -I$(MPIINC)
DEFINES= -DINET=$(INET) -DPARI=$(PARI) -DLAPACK=$(LAPACK) -DDO_PLOT=$(DO_PLOT) -DUSE_FLOAT=$(USE_FLOAT) $(PARIFLAGS) -DHMEXT -DMPI=$(MPI) $(LINUX_EXTRA_DEFINES)
